@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size
---*/

/*-----4.0 ELEMENTS-----*/

/*---typography---*/

body {
    font-family: 'futura-pt', 'sans-serif';
    font-size: 1.1rem;
}

h1, h2, h3, h4, #prv-nxt a {
    font-family: 'liquor-store', 'sans-serif';
    text-transform: uppercase;
}

h1 {
    font-size: 9rem;
    line-height: 1;
}

h2 {
    font-size: 3.5rem;
    line-height: 1;
}

h3 {
    font-size: 3.5rem;
}

header p, #prv-nxt a {
    font-size: 1.7rem;
    line-height: 2rem;
}

h2, h3, h4 {
    color: #333;
}

footer small {
    color: rgb(124, 124, 124);
}

@media screen and (max-width: 740px) {

    h1 {
        font-size: 8rem;
    }

    #contact h2, h3 {
        font-size: 2.5rem;
    }

    header p, #prv-nxt a {
        font-size: 1.5rem;
    }

    small {
        font-size: .4rem;
    }
}

/*---images---*/


#brew {
    background-image: url(../img/img-home-brewskys.jpg);
    background-image: cover;
}

#flex {
    background-image: url(../img/img-home-flexport.jpg);
    background-image: cover;
}

#senn {
    background-image: url(../img/img-home-sennheiser.jpg);
    background-image: cover;
}

#norwich {
    background-image: url(../img/img-home-norwich.jpg);
    background-image: cover;
}

#twin {
    background-image: url(../img/img-home-twin-finch.jpg);
    background-image: cover;
}

#hilltop {
    background-image: url(../img/img-home-hilltop.jpg);
    background-image: cover;
}

#met {
    background-image: url(../img/img-home-met.jpg);
    background-image: cover;
}

#rock {
    background-image: url(../img/img-home-rtv.jpg);
    background-image: cover;
}

#work div div:hover {
    -ms-transition: ease-in;
    -o-transition: ease-in;
    -moz-transition: ease-in;
    -webkit-transition: ease-in;
    transition: ease-in;
    transition-duration: .4s;
}



/*-----6.0 COMPONENTS-----*/


/*---contact---*/

#contact a {
    font-size: 2rem;
}

#email a  {
    font-size: 1.5rem;
}

#contact a, #prv-nxt a {
    color: #333;
}

#contact a:hover, #prv-nxt a:hover {
    color: #ED1C24;
}

/*---header---*/

header {
    color: #fff;
}

/*---navigation---*/

header nav li {
    margin: 0 3em;
}


@media screen and (max-width: 810px) {
    header nav li {
        margin: .5em .8em;
        font-size: .9rem;
    }
} 

header nav li:first-child, header ul {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

header nav li:nth-child(3), footer img, #work-head img {
    width: 5em;
}

header img {
    width: 4em;
}

nav a {
    color: #f2f2f2;
    font-weight: 700;
}

nav a:hover {
    color: #ED1C24;
}


/*---sections---*/

header {
    padding: 3em 0 7em 0;
}

header h1 {
    padding-top: .9em;
}

footer {
    padding: 2em 0 1.5em 0;
}

footer div div {
    margin-bottom: .5em;
}


#about, #contact, #work-desc {
    padding: 6em 0;
}

#work-head {
    padding: 1em 0;
}

#work-img img {
    padding-bottom: 4em;
}


/*-----7.0 Utilities-----*/

/*---colors---*/

header, footer, .title-bar {
    background-color: #333;
}

section, #work, #prv-nxt {
    background-color: #FCF8F5;
}

/*---mobile widths---*/

@media screen and (max-width: 740px) {
    #about div, #work-desc div {
        width: 95%;
    }
}



/*---text overlays---*/

#work .cell {
    position: relative;
  }

  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(54, 54, 54);
  }
  
  #work .cell:hover .overlay {
    opacity: .9;
  }
  
  .text {
    color: white;
    font-family: 'liquor-store', 'sans-serif';
    text-transform: uppercase;
    line-height: 1;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
